[run]
branch = True
source = .
omit =
    tests/*
    */tests/*
    */migrations/*
    manage.py
    */apps.py
    */admin.py
    */wsgi.py
    */asgi.py

[report]
show_missing = True
skip_empty = True
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
    if __name__ == "__main__":

[html]
directory = htmlcov
