# -----------------------------
# DJANGO CORE
# -----------------------------
DEBUG=True
SECRET_KEY=change_me_in_production

ALLOWED_HOSTS=localhost,127.0.0.1,korena.pe,edu.korena.pe
CSRF_TRUSTED_ORIGINS=http://localhost:8000,https://korena.pe,https://edu.korena.pe


# -----------------------------
# DATABASE – PostgreSQL
# -----------------------------
POSTGRES_DB=korena
POSTGRES_USER=korena
POSTGRES_PASSWORD=korena
POSTGRES_HOST=postgres
POSTGRES_PORT=5432


# -----------------------------
# REDIS / CHANNELS / CELERY
# -----------------------------
REDIS_HOST=redis

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1


# -----------------------------
# FRONTEND
# -----------------------------
FRONTEND_URL=http://localhost:5173


# -----------------------------
# EMAIL
# -----------------------------
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-reply@korena.pe


# -----------------------------
# Internationalization
# -----------------------------
TIME_ZONE=America/Lima
LANGUAGE_CODE=en-us
