# DJANGO CORE
DEBUG=True
SECRET_KEY=change_me_in_production
ALLOWED_HOSTS=localhost,127.0.0.1

# DATABASE – PostgreSQL
POSTGRES_DB=korena
POSTGRES_USER=korena
POSTGRES_PASSWORD=korena
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Internationalization
TIME_ZONE=America/Lima
LANGUAGE_CODE=en-us
